.side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 72px;
  background-color: rgb(255, 255, 255);
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  width: 72px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-link:hover {
  background-color: rgb(232, 226, 226);
  cursor: pointer;
}

.sidebar-link img {
  margin-bottom: 4px;
  height: 24px;
}

.sidebar-link div {
  font-family: "Roboto", Arial;
  font-size: 10px;
  font-weight: bold;
}
